body {
    font-family: "Montserrat";
}

::selection {
    color:rgb(255, 252, 248);
    background-color: rgb(167, 165, 164);
}

h1 {
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 800;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.5;
    font-size: 3rem;
}

h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    color: #8f8f8f;
}

/* Title Section */

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navbar section */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Download button */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Iphone doggy image */
.title-img {
    width: 60%;
    transform: rotate(25deg);
}

@media screen and (min-width: 1350px) {
    #title {
        height: 36.5rem;
        overflow: hidden;
    }
}

@media screen and (min-width: 1300px) {
    #title{
        height: 35.5rem;
        overflow: hidden;
    }
}

@media screen and (min-width: 1266px) {
    #title {
        height: 35rem;
        overflow: hidden;
    }
}

@media screen and (min-width: 990px) {
    .title-img {
        margin-left: 15%;
    }
}

@media screen and (max-width: 989px) {

    #title {
        text-align: center;
    }
    .title-img {
        transform: rotate(0deg);
    }
}

/* Features Sections */
#features {
    padding: 7% 15%;
    background-color: #fff;
}

.feature {
    text-align: center;
    padding: 6% 3.5%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 5%;
}

.feature-icon:hover {
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 2%;
}

/* Press section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Carousel */

.carousel-item {
    padding: 7% 15%;
}

/* Pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 5% 2%;
}

/* CTA section */

#cta {
    padding: 4% 15%;
    background-color: #ff4c68;
    text-align: center;
}

#cta > h3 {
    font-weight: 800;
    font-size: 3.3rem;
    line-height: 1.5;
    color: #fff;
}

/* Footer section */

#footer {
    padding: 2% 10%;
    text-align: center;
}

.footer-icons {
    padding-bottom: 2%;
}

.footer-icon {
    color: #000;
    padding: 1%;
}